body{
  background-color:rgb(134, 200, 83);}



   canvas{
    
    background-color: white;
    width:500px;
    height:600px;
    margin:10px;
    border:5px solid grey;
    
  }
  
  h1{
    padding-left: 503px;
    color:black;
  }
  h2{
    
    font-size:30px;
    color:rgb(128, 47, 0);
  }
  h3{
    font-size:30px;
    color:purple;
  }